.vs/BlogEngine.App/FileContentIndex
.vs/BlogEngine.App/DesignTimeBuild
.vs/BlogEngine.App/v17
.vs/ProjectEvaluation
BlogEngine.App/bin
BlogEngine.App/obj
BlogEngine.App/Migrations
BlogEnginte.Tests/bin
BlogEnginte.Tests/obj
